{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}

    <div class="container my-3">
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <div class="formgroup">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required />
        </div>
        <div class="formgroup">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input class="form-control" type="password" id="password" name="_password" required />

                <div class="checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
            <div>
                {% if error %}
                    <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            <a class="py-2" href="{{ path("fos_user_registration_register") }}">Pas encore inscrit ?</a>
            </div>
                <input class="btn btn-success" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
    </form>

    </div>
{% endblock fos_user_content %}